.history/
.vscode/
.debhelper
*.build*
*.changes
*.deb
*.tar.xz
*.dsc
live-light-server/debian/live-light-server/*
live-light-client/debian/live-light-client/*

files
*-build-stamp
*.debhelper
*.substvars
*.conf
.venv/